/*
=============== 
Global Styles
===============
*/

:root {
	--clr-white: #fff;
	--clr-outgoing-span: #84959c;
	--clr-outgoing-user: #1f2c34;
}

@media screen and (max-width:750px) {

	.backg{
/*		background-image: url('/assets/images/wallpaper.jpg');*/
	}

}

	.right_chat{
		width: 100%;
	}/*
	.right_chat img{
		width: 70%;
		position: fixed;
	}*/
	.chat_head1{
	padding: 10px 20px 5px 20px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}

.main_messages{
		width: 100%;
		color: var(--clr-white);
		padding: 85px 10px 70px 20px;
	}
	.both_messages{
		display: block;
	}
	.incoming_message{
		float: left;
    	width: 100%;
    	margin: 5px 0px;
    	display: flex;
	}
	.incoming_user_img{
		margin-right: 8px;
	}
	.incoming_user_img img{
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
	}
	.incoming_user_message{
		background: var(--clr-outgoing-user);
		padding: 10px 15px;
		border-radius: 0px 25px 25px 25px;
	}
	.incoming_user_message span{
		float: right;
		color: var(--clr-outgoing-span);
		font-size: 12px;
	}

	.outgoing_message{
		float: right;
    	margin: 5px 0px;
    	display: flex;
	}
	.outgoing_user_img{
		margin-left: 8px;
	}
	.outgoing_user_img img{
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
	}
	.outgoing_user_message{
		background: var(--clr-outgoing-user);
		padding: 10px 15px;
		border-radius: 25px 0px 25px 25px;
	}
	.outgoing_user_message span{
		float: left;
		color: var(--clr-outgoing-span);
		font-size: 12px;
}

@media screen and (min-width:750px) {
	.main_messages{
/*		width: 60%;*/
		color: var(--clr-white);
		padding: 90px 10px 70px 20px;
	}
}