/*
=============== 
Global Styles
===============
*/

:root {
	--clr-white: #fff;
	--clr-outgoing-span: #84959c;
	--clr-outgoing-user: #1f2c34;
}

@media screen and (max-width:750px) {

	.backg{
		/* background-image: url('/assets/images/wallpaper.jpg'); */
	}

	

}

	.right_chat{
		width: 100%;
	}
	.chat_head1{
	padding: 10px 20px 5px 20px;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}

.main_messages{
		width: 100%;
		color: var(--clr-white);
		padding: 85px 10px 70px 20px;
	}
	.both_messages{
		display: block;
	}
	.incoming_message{
    	margin: 5px 0px;
    	display: flex;
	}
	.incoming_user_img{
		margin-right: 8px;
	}
	.incoming_user_img img{
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
	}
	.incoming_user_message{
		background: var(--clr-outgoing-user);
		padding: 10px 15px;
		border-radius: 0px 25px 25px 25px;
		width: 100%;
	}
	.incoming_user_message span{
		color: var(--clr-outgoing-span);
		font-size: 12px;
		margin-top: 5px;
	}
	.incoming_message_details{
		display: flex;
	}
	.incoming_message .incoming_message_details{
		margin-right: auto;
		max-width: calc(100% - 130px);
	}
	.incoming_user_message p{
		word-wrap: break-word;
}



	.outgoing_message{
		margin: 5px 0px;
    	display: flex;
		
	}
	.outgoing_message .outgoing_message_details{
		margin-left: auto;
		max-width: calc(100% - 130px);
	}

	.outgoing_message_details{
		display: flex;
	}
	
	.outgoing_user_img{
		margin-left: 8px;
	}
	.outgoing_user_img img{
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 50%;
	}
	.outgoing_user_message{
		background: var(--clr-outgoing-user);
		padding: 10px 15px;
		border-radius: 25px 0px 25px 25px;
		width: 100%;
	}
	.outgoing_user_message p{
		word-wrap: break-word;
}
	
	.outgoing_user_message span{
		float: left;
		color: var(--clr-outgoing-span);
		font-size: 12px;
		margin-top: 5px;
}

@media screen and (min-width:750px) {
	.main_messages{
		color: var(--clr-white);
		padding: 90px 10px 70px 20px;
	}


}